PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/broady
DATABASE_DIRECT_URL=postgresql://postgres:postgres@localhost:5432/broady
JWT_SECRET=replace_with_long_secret
WEB_APP_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4000/api/auth/google/callback
CLOUDINARY_URL=
AWS_S3_BUCKET=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
CLOUDFLARE_CDN_URL=
